<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.speechkit.player.demo">

    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-sdk/>

    <application
        android:label="@string/application_name"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/ic_banner"
        android:largeHeap="true"
        android:allowBackup="false"
        android:name="io.speechkit.player.demo.DemoApplication"
        tools:ignore="UnusedAttribute">

        <activity android:name="io.speechkit.player.demo.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>